APP_NAME=Ecomobilis
APP_ENV=local
APP_KEY=base64:cb3Bzp0d/2Q+vE4Seg+n7Wp2O2AuDLj+83ysR6/6LEU=
APP_DEBUG=true
APP_URL=https://ecomobilis.test

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=ecomobilis

DB_USERNAME=root
DB_PASSWORD=root
DB_SOCKET=

BROADCAST_DRIVER=log
CACHE_DRIVER=file

SESSION_DRIVER=database
SESSION_LIFETIME=525600
SESSION_SECURE_COOKIE=false
SESSION_DOMAIN=

QUEUE_DRIVER=database
QUEUE_CONNECTION=database

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=
MAIL_USERNAME=
MAIL_ENCRYPTION=
MAIL_DRIVER=
MAIL_MAILER=sendgrid
SENDGRID_API_KEY=
MAIL_FROM_NAME="Ecomobilis"
MAIL_FROM_ADDRESS=info@ecomobilis.be

LOCATIONIQ_TOKEN=

BUSINESS_API_ACCESS_TOKEN =
BUSINESS_API_BASE_URL =
TELRAAM_X_API_KEY=
BUSINESS_API_SECRET_DB=
