/* tiny circles */

.tiny-circle {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 8px;
    &.green  {
        background-color: $green;
    } 
    &.red  {
        background-color: $red;
    } 
    &.orange  {
        background-color: $orange;
    } 
}

